.createmeal_main_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(227, 217, 217, 0.25);
    color: white;
    width: 28em;
    min-width: 24em;
    height: auto;
    margin-top: 2em;
    padding: 5em;
    border-radius: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.createmeal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.createMeal_warning {
    color: red;
}

@media only screen and (max-width: 1000px) {
    .createmeal_main_holder {
        width: 90%;
        padding: 1em;
    }
}